// 主色调
$appColor = #42b983
$appColorRGB = 66,185,131
// 文字颜色
$mainTextColor = #303133
$normalTextColor = #606266
$minorTextColor = #909399
$infoTextColor = #C0C4CC
// 边框颜色
$deepBorderColor = #DCDFE6
$shallowBorderColor = #E4E7ED